<div class="container">
		<div id="menu-bar">
				<h1>Authors</h1>
				<ul>
						<li><a href="authorsList">Authors</a></li>
						<li><a href="categoriesList">Categories</a></li>					
						<li><a href="">Books</a></li>
				</ul>
		</div>
</div>


<div class="container">
		<br/>  
		<p *ngIf="booleanError">
			{{ errorMesage }}
		</p>
		<p *ngIf="!flagBooks">
			{{ message }}
		</p>	

		<div class="container"> 
			<div class="row styleMargins">
				<div class="col-sm-6">
					<input type="button" value="Create Author" class="btn btn-primary" (click)="goToRoute('createAuthor')" />
				</div>
			</div>
		</div>

		<div id="divBooks" *ngIf="displayAuthors">
			<div class="col-sm-4" *ngFor="let author of authorsList">
				<div class="thumbnail" style="height:240px">
					<img style="height:90px; width:90px;" src="../../assets/images/author.jpg" />
					<div class="caption">
						<div style="text-align:center">
								<h3>&nbsp;{{ author.firstName + " " + author.lastName }}</h3>
						</div>	
							
						<br/>
						<input type="button" value="Edit" class="btn btn-primary" (click)="editAuthor(author)" />
						&nbsp;
						<input type="button" value="Delete" class="btn btn-danger" (click)="deleteAuthor(author)" />&nbsp;																	
					</div>
				</div>
			</div>
		</div>
</div>