
<div class="container">
    <div id="menu-bar">
        <h1>Create Category</h1>
    </div>
</div>

<form [formGroup]="newCategoryForm" (ngSubmit)="newCategorySubmit()" >      

    <div id="formCategory">

        <div class="container">
            <div class="row styleMargins">
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">Name:</span>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" formControlName="categoryName" required />		
                    </div>
                </div>
            </div>
            <div class="row newBookRow">
                <div class="col-sm-10">             
                    <div class="alert alert-danger" *ngIf="!newCategoryForm.controls['categoryName'].valid && newCategoryForm.controls['categoryName'].touched">
                    Field Name is required.
                    </div>
                </div>
            </div>            
                                  
        </div>     

        <div class="container">
            <div class="row newBookRow" *ngIf="flagErrorSaveCategory">
                <div class="col-sm-12">             
                    <div class="alert alert-danger">
                    {{ saveCategoryErrorMessage }}
                    </div>
                </div>
            </div> 
        </div>  

        <div class="container">	
            <div class="row newBookRow">
                <div class="col-sm-12">	
                  <input type="submit" value="Save category" class="btn btn-primary" [disabled]="!newCategoryForm.valid" />&nbsp;
                  <input type="button" value="Cancel" class="btn btn-primary" [routerLink]="['/categoriesList']" />
                </div>
            </div>
        </div>
    
	</div>

</form>
